#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Table_1 {
  border-collapse: separate;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}