#s-04042d8d-f97c-4117-bdae-8b1552219a26 {
  background-color: transparent;
  background-image: none;
  min-width: 326px;
  min-height: 568px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 326px;
  height: 504px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 65px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Rich_text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_2 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Label_1 {
  position: absolute;
  top: 28px;
  left: 90px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 13pt;
  line-height: 13pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Group_2 {
  position: absolute;
  top: 28px;
  left: 6px;
  width: 99px;
  height: 29px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_3 {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 15px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Label_2 {
  position: absolute;
  top: 0px;
  left: 17px;
  width: 82px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 11pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Image_4 {
  position: absolute;
  top: 27px;
  left: 279px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Table_1 {
  position: absolute;
  top: 438px;
  left: 0px;
  width: 322px;
  height: 130px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_1 {
  padding-left: 12px;
  width: 0px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_4 {
  padding-left: 12px;
  width: 288px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_4 span {
  color: #1882FE;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #1882FE;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_7 {
  padding-left: 12px;
  width: 0px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_2 {
  padding-left: 12px;
  width: 0px;
  height: 9px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_5 {
  padding-left: 12px;
  width: 288px;
  height: 9px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_5 span {
  color: #1882FE;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #1882FE;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_8 {
  padding-left: 12px;
  width: 0px;
  height: 9px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_3 {
  padding-left: 12px;
  width: 0px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_6 {
  padding-left: 12px;
  width: 288px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_6 span {
  color: #1882FE;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #1882FE;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_9 {
  padding-left: 12px;
  width: 0px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12pt;
  line-height: 0px;
}
#s-04042d8d-f97c-4117-bdae-8b1552219a26 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}