#s-0d467985-dd7e-4070-9dba-470de0d56ab9 {
  background-color: transparent;
  background-image: none;
  min-width: 326px;
  min-height: 568px;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Image_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 326px;
  height: 504px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 65px;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 0px;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Image_2 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Label_1 {
  position: absolute;
  top: 28px;
  left: 90px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 13pt;
  line-height: 13pt;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Group_2 {
  position: absolute;
  top: 28px;
  left: 6px;
  width: 99px;
  height: 29px;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Image_3 {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 15px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Label_2 {
  position: absolute;
  top: 0px;
  left: 17px;
  width: 82px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Image_4 {
  position: absolute;
  top: 30px;
  left: 281px;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Group_3 {
  position: absolute;
  top: 215px;
  left: 32px;
  width: 270px;
  height: 106px;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 22px;
  width: 266px;
  height: 82px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12pt;
  font-family: Roboto-Bold;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 12pt;
  line-height: 0px;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Label_19 {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 270px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ABAFAE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 #s-Label_19 .valign {
  vertical-align: middle;
}
#s-0d467985-dd7e-4070-9dba-470de0d56ab9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}