#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Image_133 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f2fa5c-1891-4df0-9529-2008138b7368 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}