#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce #s-Table_1 {
  border-collapse: separate;
}
#s-cedca9eb-ba69-4de5-9a9f-3a27db586cce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}